
/* COMMON Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;

}

 body, html {
  scroll-behavior: smooth;
   overflow-y:auto;
overflow-x: hidden;
}


.section-heading {
  font-size: 6rem;
  font-weight: bold;
margin bottom: 5rem;
  text-transform: uppercase;
  color:#00c2cb;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
}

#heading,
#heading2 {
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

#value {
  opacity: 0.9;
}

/* End of Common Styles */

/* section1 styling  */
.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
opacity: 0.6;
}


.bg-video {
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.section-1 {
 width: auto;
 height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.mission-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-self: center;

}

.mission {
  width: 50%;
  font-size: 30px;
  margin: 20rem;
  text-align: center;
  align-content: space-between;
}

.mission-text {
  margin-top: 1rem;
  opacity: 0.7;
  font-weight: 600;
  color:rgb(55, 55, 55);
   text-shadow: 0px 2px 3px #666;
}



/* Section 2 */
.section-2 {
   width: auto;
   height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.values-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
padding: 4rem;
}


.value-text {
  font-size: 3rem;
  font-weight: 700;
  /* padding-left: 8rem; */
  text-align:left;

    color: #ddd;
text-shadow: 0px 2px 3px #666;
}

.value-text::first-letter {
  font-size:5rem;
  font-weight:700;
  /* margin-left: 0.5rem; */
  color:#00c2cb;
  text-shadow: 0px 2px 3px #666;
}

.value-text-2 {
  font-size: 3rem;
  font-weight: 700;
    /* padding-left: 8rem; */
  text-align:left;
  color: #ddd;
  text-shadow: 0px 2px 3px #666;
}

.value-text-2::first-letter {
  font-size:5rem;
  font-weight:700;
  /* margin-left: 0.5rem; */
  color:#ffbd59;
  text-shadow: 0px 2px 3px #666;
}





/* End of Section 2 */


/* Section 3 */
.section-3 {
  width: auto;
  position: relative;
 background-color:transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0rem 5rem 0rem;

}

.team-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin-top: 2rem;
}

.team-member {
  width: 25rem;
  background-color: transparent;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 1rem 3rem #ddd, -1rem -1rem 3rem #eee;
  position: relative;
  opacity: 0.9;
  transition: opacity 0.5s;
  white-space: nowrap;
}

.team-member:hover {
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #eee;
  opacity: 1;
}


.team-member-img {
  width: 100%;
  border-radius: 0.5rem;
}

.team-member-name {
  font-size: 2rem;
  font-weight: 770;
  color: #ffbd59;
  margin-top: 2rem;
   text-shadow: 0px 4px 4px lightgrey;
    white-space:nowrap;
}

.team-member-name span {
  font-size: 1.5rem;
  font-weight: 750;
  color: #ffbd59;
  margin-top: 2rem;
   text-shadow: 0px 4px 4px lightgrey;
    white-space:nowrap;
}


.aka {
  font-size: 1.7rem;
  font-weight: 600;
  color:#ffbd59;
  margin-top: :2rem;
  text-shadow: 0px 4px 4px lightgrey;
  white-space:nowrap;
}

.connect-btn {
  background-color: lightgray;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  text-shadow: 0px 11px 10px rgba(81,67,21,0.8);
}

.connect {
  display: inline-block;
  margin-left: 50px;
}

.connect img {
  width: 40%;
}

.story-btn {
  width: 3rem;
  height: 3rem;
  background-color: #fab34a;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}

.change.story-btn {
  transform: rotate(405deg);
}

.story-btn-line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
}

.story {
  width: 100%;
  height: 100%;
  background-color: #00c2cb;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all 0.5s;
  opacity: 0.95;
}

.change.story {
  transform: scale(1);
  border-radius: 0;
}

.story-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
   text-shadow: 0px 4px 4px #282828;
}

.story-paragraph {
  font-size: 1.4rem;
  color: #fff;
  text-align: justify;
    word-break: normal;
    overflow-wrap: normal;
    white-space: normal;
   text-shadow: 0px 4px 4px #282828;
}
/* End of Section 3 */

/* Back to Top button */
  #myBtn1 {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffbd59;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }

  #myBtn1:hover {
    background-color:  #00c2cb; /* Add a dark-grey background on hover */
  }


/* Responsive */
@media (max-width: 1400px) {


  .section-heading {
    font-size: 8rem;
    margin-bottom: 10rem;
  }


  .values-wrapper {
    flex-wrap: wrap;
  }

  .values {
    margin: 5rem 10rem;
  }


  .team-wrapper {
    flex-wrap: wrap;
  }

  .team-member {
    margin: 5rem 10rem;
  }

}


@media (max-width: 450px) {
  #heading{
    font-size: 3.2rem;
margin-bottom: 2.5rem;
margin-top: -5rem;
  }


 .mission-text{
    font-size: 1.8rem;
  }

.bg-video{
  width: 100%;
  height: auto;
}

.section-2{
  margin-top: -75%;
}

  #heading2{
font-size: 3.2rem;
margin-top: 10rem;
margin-bottom:0rem;
  }

.values-wrapper{
  background-color: whitesmoke;
  padding-bottom: 0rem;
}

.values{
margin: 15%;
}

.value-text, .value-text-2{
  font-size: 1.8rem;
width:120%;
color: #666;

}

.value-text::first-letter,
.value-text-2::first-letter{
  font-size:3rem;
}

.section-3{
margin-top: 2rem;
}

.team-wrapper{
  margin-top: -2rem;
}

  .team-member {
    margin:2rem;
    width:80rem;
  }

     .team-member-name {
    padding-left: 0.5rem;
    font-size: 1.8rem;
  }

    .team-member-name span {
    display: none;
  }

   .aka {
    padding-left: 0.5rem;
    font-size: 1.2rem;
  }

   .connect-btn {
    font-size: 1.2rem;
  }

  .story-btn {
  width: 2.2rem;
  height: 2.2rem;
  }

      .story-heading {
  font-size: 1.8rem;
}

  .story-paragraph {
  font-size: 1.2rem;
}

}
/* End of Responsive */
