[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 1px solid lightslategray;
  background-color: aliceblue;
  box-shadow: 0px 7px 7px 1px lightgray;
}

#fileDisplayArea {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: auto;
}

#card {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card.filter-Events {
   margin: 0;
}

.card.filter-PetTips {
   margin: 0;
}

.card.filter-Recommendations {
   margin: 0;
}

#search {
  width: 150px;
  text-align: center;
}

textarea {
    width: 100%;
}

h1 {
    color: #ffbd59;
    font-weight: 700;
}
.h2 {
    color: #00c2cb;
    font-weight: 700;
}

h2 {
    color: #00c2cb;
    font-weight: 700;
}